<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Users\Eithan\source\investigaciones\API_NET_CORE\Investigacion.WebApi\bin\Debug\netcoreapp3.1\Investigacion.WebApi.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="Clave" value="Valor" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>